body {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-spacing;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix:after {
    @include clearfix;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}
