section {
    padding: $top-spacing 0 $bottom-spacing 0;
}

.section-title,
.section-description {
    text-align: center;
}

.section-description {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

#start-guide {
    background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/intro.jpg');
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: $brand-primary;
    padding-bottom: 0;

    .container {
        max-width: 1000px;

        a {
            display: block;
            padding: 10px;
            margin: 40px;
            color: $brand-primary;

            span {
                display: inline-block;
                width: 30px;
                height: 30px;
                line-height: 30px;
                margin-right: 20px;
                border-radius: 50%;
                border: 2px solid grey;
                color: grey;
            }
        }

        .images {
            position: relative;
            margin: 0 auto;
            overflow: hidden;
            border-top-right-radius: 18px;
            border-top-left-radius: 18px;
            cursor: pointer;

            &:hover span {
                border: 2px solid grey;
                color: grey;
            }

            img:first-of-type {
                display: block;
                width: 100%;
                position: relative;
                z-index: 1;
            }

            img:last-of-type {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            span {
                display: block;
                width: 100px;
                height: 100px;
                line-height: 100px;
                border-radius: 50%;
                border: 2px solid $brand-primary;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 60px;
                color: $brand-primary;
            }
        }
    }
}

#artificial-intelligence {
    color: $brand-secondary;

    .carousel {
        @include flex('', '', '');
        margin-top: 80px;

        .images {
            position: relative;
            flex-basis: 82%;

            .left-img,
            .right-img {
                position: relative;
                width: calc(50% - 2px);
                overflow: hidden;

                img {
                    display: block;
                    width: 200%;
                }
            }

            .left-img {
                border-right: 2px solid $brand-secondary;
            }

            .right-img {
                border-left: 2px solid $brand-secondary;

                img {
                    transform: translateX(-50%);
                }
            }

            .left-right-arrow {
                display: block;
                padding: 5px 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: $brand-secondary;
                color: $brand-primary;
                cursor: pointer;
            }
        }

        .prev,
        .next {
            @include flex('', center, center);
            flex-basis: 9%;
            font-size: 30px;
            color: #ff4700;

            i {
                cursor: pointer;

                &:hover {
                    color: lighten(#ff4700, 30%);
                }
            }
        }
    }
}

#bg-scroll-street {
    @include bg-scroll('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/image-bg-02.jpg', 650px);
}

#painting-tools {
    background-color: rgb(34, 34, 34);
    color: $brand-primary;

    .poster {
        max-width: 770px;
        margin: $top-spacing auto $top-spacing*2 auto;

        img {
            max-width: 100%;
        }
    }

    .tool {
        &:first-child {
            margin-bottom: $top-spacing*2;
        }

        .description {
            width: 44%;
            margin-top: 100px;

            &:first-child {
                h2, p {
                    margin-right: $top-spacing;
                }
            }

            &:last-child {
                h2, p {
                    margin-left: $top-spacing;
                }
            }

        }

        .image {
            width: 56%;

            img {
                max-width: 100%;
            }
        }
    }
}

#bg-scroll-eye {
    @include bg-scroll('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/image-bg-01.jpg', 650px);
}
