#start-guide {
    background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/intro.jpg');
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: $brand-primary;

    .container {
        max-width: 1000px;
        padding-top: $top-spacing;

        p {
            padding: 0 20px;
        }

        a {
            display: block;
            padding: 10px;
            margin: 40px;
            color: $brand-primary;

            span {
                display: inline-block;
                width: 30px;
                height: 30px;
                line-height: 30px;
                margin-right: 20px;
                border-radius: 50%;
                border: 2px solid grey;
                color: grey;
            }
        }

        .images {
            position: relative;
            margin: 0 auto;
            overflow: hidden;
            border-top-right-radius: 18px;
            border-top-left-radius: 18px;
            cursor: pointer;

            &:hover span {
                border: 2px solid grey;
                color: grey;
            }

            img:first-of-type {
                display: block;
                width: 100%;
                position: relative;
                z-index: 1;
            }

            img:last-of-type {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            span {
                display: block;
                width: 100px;
                height: 100px;
                line-height: 100px;
                border-radius: 50%;
                border: 2px solid $brand-primary;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 60px;
                color: $brand-primary;
            }
        }
    }
}
