#footer-menus {
    background-color: rgb(236, 236, 236);
    padding: $top-spacing/2 0 $bottom-spacing/2 0;
}

.footer-menu {
    width: calc(100% / 4);

    h5 {
        margin: 20px 0 10px 0;
    }

    ul {
        margin: 0 0 10px 0;
        line-height: 22px;

        a {
            font-size: calc((100% * 2) / 3);
            color: rgb(77, 77, 77);

            &:hover {
                color: $brand-secondary;
                text-decoration: underline;
            }
        }
    }
}

#footer-icons {
    width: calc(100% / 4);

    li {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 3px;

        &.instagram {
            background-color: rgb(228, 64, 95);
        }

        &.facebook {
            background-color: rgb(59, 89, 152);
        }

        &.twitter {
            background-color: rgb(29, 161, 242);
        }

        &.youtube {
            background-color: rgb(205, 32, 31);
        }

        &.pinterest {
            background-color: rgb(189, 8, 28);
        }

        &.wp {
            background-color: rgb(255, 141, 0);
        }

        a {
            display: inline-block;
            width: 100%;
            height: 100%;

            svg {
                width: 100%;
                height: 100%;
                fill: $brand-primary;
            }
        }
    }
}

#footer-bottom {
    padding: 10px 0 20px 0;
    background-color: rgb(30, 30, 30);

    .container {
        @include flex('', space-between, center);

        .images {
            img {
                margin: 10px;
            }
        }

        ul {
            li {
                font-size: calc((100% * 2) / 3);

                a {
                    display: inline-block;
                    margin-right: 25px;
                    color: rgb(153, 153, 153);

                    &:hover {
                        color: $brand-primary;
                        text-decoration: underline;
                    }
                }

                p {
                    margin: 0;
                    color: $brand-primary;
                }
            }
        }
    }
}
