@mixin clearfix {
    content: "";
    display: table;
    clear: both;
}

@mixin flex($flex-direction: row, $justify-content: flex-start, $align-items: stretch) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin bg-scroll($url, $height) {
  background-image: url($url);

  min-height: $height;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
