@mixin clearfix {
    content: "";
    display: table;
    clear: both;
}

@mixin flex($flex-direction: row, $justify-content: flex-start, $align-items: stretch) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin pos-absolute-top-left($top:0, $left:0, $translateX:0%, $translateY:0%) {
    position: absolute;
    top: $top;
    left: $left;
    transform: translate($translateX, $translateY);
}

@mixin pos-absolute-bottom-right($bottom:0, $right:0, $translateX:0%, $translateY:0%) {
    position: absolute;
    bottom: $bottom;
    right: $right;
    transform: translate($translateX, $translateY);
}

@mixin pos-absolute-bottom-left($bottom:0, $left:0, $translateX:0%, $translateY:0%) {
    position: absolute;
    bottom: $bottom;
    left: $left;
    transform: translate($translateX, $translateY);
}

@mixin bg-img($url, $posX:0%, $posY:0%, $size:cover, $repeat:no-repeat) {
    background-image: url($url);
    background-position: $posX $posY;
    background-size: $size;
    background-repeat: $repeat;
}

@mixin bg-scroll($url, $posX:0%, $posY:0%, $height:inherit) {
    @include bg-img($url, $posX, $posY);
    background-attachment: fixed;
    min-height: $height;
}
