$brand-primary: rgb(255, 255, 255);
$brand-secondary: rgb(51, 51, 51);
$font-family: 'Roboto', sans-serif;
$font-size: 18px;
$top-spacing: 80px;
$bottom-spacing: 60px;
$line-spacing: 30px;
$bg-img-download-buy: 'https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg';
$bg-img-start-guide: 'https://www.painterartist.com/static/ptr/product_content/painteressentials/7/intro.jpg';
$bg-img-services: 'https://www.painterartist.com/static/ptr/product_content/painteressentials/7/brushpacks-bg.jpg';
$bg-img-street: 'https://www.painterartist.com/static/ptr/product_content/painteressentials/7/image-bg-02.jpg';
$bg-img-eye: 'https://www.painterartist.com/static/ptr/product_content/painteressentials/7/image-bg-01.jpg';
